@font-face {
    font-family: 'RuneScape UF';
    src: url('./assets/fonts/runescape_uf.woff2') format('woff2'),
        url('./assets/fonts/runescape_uf.woff') format('woff'),
        url('./assets/fonts/runescape_uf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
button {
    font-family: 'RuneScape UF', sans-serif;
}

body {
    margin: 0;
    background-color: #121212;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: "Runescape UF", sans-serif;

}

h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: normal;
}

#map-container {
    position: relative;
    overflow: hidden;
    cursor: grab;
}

canvas {
    display: block;
    background: #000;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
    font-size: 2em;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

#task-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    max-height: 90vh;
    padding: 16px;
    background-color: #2a2a2a;
    color: #ffffcc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: default;
    transition: top 0.3s, left 0.3s;
}

.buttons {
    display: flex;
    justify-content: center;
}

#drag-handle {
    cursor: grab;
    text-align: center;
    color: #fff;
    width: 1rem;
}

#drag-handle:active {
    cursor: grabbing;
}

.drag-icon {
    width: 1rem;
    height: 1rem;
    pointer-events: none;
}

.subsection {
    font-size: 1.5rem;
    color: #ffff99;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000;
}

/* .instructions {
    font-size: 1.2rem;
    color: #cccc99;
    font-style: italic;
    margin-bottom: 10px;
} */

.task {
    font-size: 1.4rem;
    color: #ffffff;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000;
}

.note,
.instructions {
    font-size: 1.2rem;
    color: #ffcc33;
    border-left: 4px solid #ffcc33;
    padding-left: 8px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000;
}

.instructions {
    color: cyan;
    border-color: cyan;
}

.counters {
    font-size: 1.2rem;
    color: #cccc99;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccc99;
    width: 100%;
}

#mark-done-btn,
#reset-btn,
#undo-btn {
    padding: 8px 12px;
    font-size: 1.5rem;
    background-color: #70542d;
    color: #ffffcc;
    border: 2px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-start;
    text-shadow: 1px 1px 2px #2a2a2a;
}

#mark-done-btn {
    width: 70%;
}

#undo-btn {
    width: 25%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

#reset-btn {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
    z-index: 10000;
}

#mark-done-btn:hover {
    background-color: #8c6f3d;
}

#mark-done-btn:active {
    background-color: #5a3f1d;
}

#map {
    position: relative;
    width: 100%;
    height: 100vh;
}


.osrs-marker {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #70542d;
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.osrs-label {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #70542de7;
    color: #ffffcc;
    font-size: 1.4rem;
    padding: 6px 8px;
    border-radius: 4px;
    border: 2px solid #000;
    text-align: center;
    white-space: nowrap;
    z-index: 1100;
    text-shadow: 1px 1px 2px #202020;
}

@media screen and (max-width: 768px) {
    #task-panel {
        max-width: 100%;
    }

    #mark-done-btn {
        font-size: 2rem;
    }
}

.pixelated {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}